@keyframes fadeIn {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}

#fade-in {
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidedown {
  0% {
    opacity: 0;
    transform: translate(0, -50vh);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideinleft {
  0% {
    opacity: 0;
    transform: translate(100vw, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideoffright {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(100vw, 0);
  }
}

body {
  background-color: #363637;
}

h1, h2, h4, a, label  {
  font-family: 'Oswald', sans-serif;
  font-style: 700;
}

h2 {
  font-size: 6vw;
}

h4 {
  font-size: 4vw;
  letter-spacing: -.05em;
}

p, input {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF !important;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0 1rem;
}

.text-orange {
  color: #FD5F00;
}

.text-white {
  color: #FFFFFF;
}

.text-black {
  color: #000000;
}

.bg-grey {
  background-color: #363637;
}

.bg-orange {
  background-color: #FD5F00;
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #FFFFFF;
}

/* Page divider */
.divider {
  width: 100%;
  display: block;
  height: 1px;
  background-color: #FFFFFF;
  opacity: 40%;
}

button.btn-black, button, input[type="button"], input[type="reset"], input[type="submit"], div.wpforms-container-full .wpforms-form button[type=submit] {
  background-color: #000000;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border: none;
  transition: border 1s ease;
}

input {
  background-color: #000000;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  transition: border 1s ease;
}

button.btn-black, button, input[type="button"], input[type="reset"], input[type="submit"] {
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  font-style: 700;
  transition: background-color 1s;
}

button.btn-black a {
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  font-style: 700;
}

input[type="email"] {
  padding: 8px 12px;
}

input[type="email"]:focus {
  background-color: #363637;
}

button.btn-black:hover, input[type="submit"]:hover {
  background-color: #FD5F00;
}

p:empty:before {
  display: none;
}

video {
  filter: grayscale(100%);
}

/* HEADER STYLING */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
}

header h1 {
  font-size: 8vw;
  letter-spacing: -0.1em;
}

header svg {
  display: none;
}

nav.main-navigation ul {
  justify-content: flex-end;
}

h1.oc-nav {
  line-height: 0.01;
}

h1.records-nav {
  line-height: 1.4;
}

div#mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

div#mobile-nav ul {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.mobile-socials a {
  padding: 0.5rem 1rem;
  color: black !important;
}

div.mobile-socials svg {
  width: 24px;
  height: 24px;
}

ul#menu-mobile-nav li {
  padding: 0.5rem 0;
  font-size: 16px;
  color: black !important;
/*  background-color: #000000;
*//*  border: solid 1px #ffffff;
*/  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
}

div.home-button-mobile {
  width: 24px;
  height: 24px;
  border-radius: 50%;
/*  border: solid 1px #FFFFFF;
*/  position: fixed;
  top: 2rem;
  right: 0;
}

.home header h1 {
  animation: fadein 3s 1s both;
}

.home nav.main-navigation ul, .home div#hamburger {
  animation: fadein 3s 2s both;
}

div#hamburger {
  display: none;
}

.page-id-77 header {
  position: sticky;
/*  background-color: rgb(0,0,0) !important;*/
}

/*.page-id-77 header h1 {
  display: none;
}*/

div.popup-overlay {
  width: 400px;
  height: 280px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
  border: solid 1px black;
  display: none;
}

.page-id-53 footer, .page-id-53 div.copyright, .page-id-53 header nav.main-navigation, .page-id-53 div#hamburger {
  display: none;
}

.page-id-53 footer div.footer-links {
  justify-content: center;
}

.page-id-53 header {
  justify-content: center;
}

.page-id-53 header h1 {
  font-size: 5vw;
}

div.shop h1 {
  letter-spacing: -3px;
}

div.popup-subscribe {
  width: 75vh;
  height: 280px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #000000;
  box-shadow: 1px 2px 2px #000000;
}

/*  LANDING-PAGE BANNER */
div.hero-home {
  max-height: 90vh;
}

div.hero-divider {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
}

div.line {
  height: 1px;
  flex-grow: 1;
  display: block;
}

div.releases-divider {
  align-items: center;
}

.bg-mds {
  background-image: url("https://res.cloudinary.com/dly8wkow2/image/upload/v1618491106/MacBook_Pro_-_1_1_ozulak.jpg"); /* The image used */
  background-color: #363637;
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
}

/* ARTISTS INDEX */
div.artist-card {
  width: 300px;
  height: auto;
  border: solid 1px #FFFFFF;
  filter: grayscale(100%);
  color: #FFFFFF;
  transition: filter 0.6s;
  transition: background-color 0.6s;
  transition: border-color 0.6;
}

div.artist-card a {
  transition: color 0.6s;
}

div.artist-card div.divider {
  background-color: #000000;
  opacity: 25%;
}

div.artist-card-links, div.artist-website {
  display: none;
}

div.artist-card:hover, div.artist-card a:hover {
  background-color: #FD5F00;
  border-color: #000000;
  fill: #000000 !important;
  filter: grayscale(0%);
  color: #000000 !important;
}

div.artist-card svg:hover {
  fill: #000000 !important;
}

div.artist-card-img {
  width: 298px;
  height: 392px;
  background-position: center;
  transition: filter 1s;
}

div.artist-card-img:hover {
  filter: grayscale(0%);
}

div.artist-card-links svg {
  margin: 0 4px;
}

/* INDIVIDUAL ARTIST PAGE */
div.artist-page-img {
  width: 496px;
  height: 496px;
  background-position: center;
  background-size: cover;
}

div.artist-banner.aspect-ratio {
  position: relative;
  height: auto;
}

div.artist-banner.aspect-ratio--object {
  position: relative;
}

.artist-card .aspect-ratio--5x7 {
  padding-bottom: 130%;
}

div.artist-banner.aspect-ratio--4x3 {
  padding-bottom: 0;
}

div.artist-page-img.aspect-ratio {
  height: none;
}

div.artist-banner-svg a {
  padding: 0 4px;
}

section.artists-divider div.line {
  display: none;
}

div#mobile-line {
  display: none;
}

div.popup-release {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  z-index: 1000;
/*  justify-content: center;
*/  align-items: center;
  padding: 2rem;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  overflow-y: scroll !important;
  display: none;
}

div.popup-release p, div.popup-release h1 {
  text-align: center;
}

div.close-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: fixed;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

div.subscribe-close-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  border: solid 1px #000000;
}

div.release-card {
  cursor: pointer;
}

/* NEWS INDEX */
div.news-card {
  cursor: pointer;
  transition: border 1s;
}

div.news-card div.news-img:hover {
  filter: grayscale(50%);
}

section.overlay-news {
  width: 80vw;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  z-index: 101;
}
section.title-mds {
  padding-top: 172px;
  padding-bottom: 40px;
}

/*.page-id-60 header {
  background-color: #000;
}*/

div.contact-container {
  border-radius: 2px;
}

div.aspect-ratio#contact-banner {
  position: unset;
}

div.aspect-ratio--8x5#contact-banner {
  padding-bottom: 0;
}

div#contact-banner div.aspect-ratio--object {
  height: 100%;
  width: 50%;
  filter: grayscale(100%);
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: -.05em;
}

div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form input[type=email],
div.wpforms-container-full .wpforms-form textarea {
  background-color: rgba(255,255,255,0.9);
  width: 100%;
}

@media (min-width: 1441px) {
  section.title-mds h2 {
    padding-top: 120px;
  }
}

@media (max-width: 786px) {
/*  div#mobile-nav {
    display: flex;
  }*/

  div.home-button-mobile {
    padding-right: 1rem;
  }

  header nav#site-navigation {
    display: none;
  }

  header svg {
    display: block;
  }

  section.title-mds {
    padding-top: 112px;
    padding-bottom: 16px;
  }

  div.footer-links {
    flex-direction: column-reverse;
    justify-content: center;
  }

  ul.footer-nav {
    padding-top: 1rem;
  }

  ul li {
    padding: 0 0.5rem;
  }

  section.artist-banner {
    flex-direction: column;
  }

  div.artist-heading {
    padding-top: 2rem;
    align-items: center;
  }

  div.artist-page-img {
    width: 400px;
    height: 336px;
  }

  section.artist-bio p {
    padding-top: 2rem;
  }

  section.artist-banner {
    padding-top: 64px;
  }

  div.artist-card, div.artist-card a {
    background-color: #FD5F00;
    border-color: #000000;
    fill: #000000 !important;
    filter: grayscale(0%);
    color: #000000 !important;
  }

}

@media (max-width: 425px) {
  h4 {
    font-size: 5vw;
  }

  div.home-button-mobile {
    top: 1rem;
  }

  section.title-mds {
    padding-top: 80px;
    padding-bottom: 16px;
  }

  div.footer-links ul {
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
  }

  div.footer-links ul li {
    padding: 1rem;
  }

  ul.footer-nav {
    padding-top: 0;
  }

  section.home-text h4, div.artist-heading h4 {
    font-size: 8vw;
  }

  div.artist-page-img {
    width: 280px;
    height: 240px;
    background-position: center;
    background-size: cover;
  }

  header.site-header h1 {
    padding-top: 0.25rem;
    padding-bottom: 0.75rem;
  }

  section.artist-bio p {
    text-align: center;
    padding-top: 2rem;
  }

  section.artists-divider div.line {
    display: block;
  }

  div#mobile-line {
    display: block;
  }

  div.releases-divider h4 {
    font-size: 10vw;
  }

  section.artist-banner {
    padding-top: 20px;
  }

  div.contact-container {
    width: 80vw;
  }

  div.contact-container h1 {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  div.home-button-mobile {
    padding-right: 1rem;
  }
}
